.menu_btn {
	position: absolute;
	top: 1rem;
	right: 1rem;
	z-index: 1;

	height: 20px;
	width: 20px;
	cursor: pointer;

	@include transition-ease;

	/*

	 PROBLEM WHY IT DOESN't SHOW THE HAMBURGER: The &__burger nested inside the .menu_btn 
												class looks for a class in the index.html 
												file with the name of ...class="menu_btn __burger"
												which apparently doesn't exist.
												Take the whole code below outside and add it to
												a new class and then see the changes. Use that new class instead of
												menu-btn__burger in index.html
												
	&__burger {
		position: absolute;
		right: 0;
		top: 0.5rem;
		width: 28px;
		height: 3px;
		background: set-text-color($primary-color);
		@include transition-ease;

		&::before {
			content: "";
			position: absolute;
			top: -8px;
			width: 28px;
			height: 3px;
			background: set-text-color($primary-color);
			@include transition-ease;
		}

		&::after {
			content: "";
			position: absolute;
			top: 8px;
			width: 20px;
			height: 3px;
			background: set-text-color($primary-color);
			@include transition-ease;
		}

		&.open {
			transform: rotate(720deg);
			background: transparent;
		}
	}
	*/
}

.btn_burger {
	position: absolute;
	right: 0;
	top: 0.5rem;
	width: 28px;
	height: 3px;
	background: set-text-color($primary-color);
	@include transition-ease;

	&::before {
		content: "";
		position: absolute;
		top: -8px;
		width: 28px;
		height: 3px;
		background: set-text-color($primary-color);
		@include transition-ease;
	}

	&::after {
		content: "";
		position: absolute;
		top: 8px;
		width: 20px;
		height: 3px;
		background: set-text-color($primary-color);
		@include transition-ease;
	}

	&.open {
		transform: rotate(720deg);
		background: transparent;
	}
}
